@import url(./bootstrap.min.css);

* {
    margin: 0;
}

.header-container {
    width: 100%;
    position: fixed;
    z-index: 3000;
    padding: 10px;
    margin: 0;
    background: var(--myColor);
    color: white;
    border: 1px solid #aaa;
    box-shadow: 0px 5px 25px 0px rgb(83, 78, 78);
}
.logout{
    color: white;
}
.panel-container {
    position: relative;
    display: block;
    padding: 5px;
    margin-top: 150px;
}

.card-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000a8;
    z-index: 5000;

}

.createpost_container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin: 5px;
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.btn-close:hover {
    background-color: #f21818;
    color: white;

}

.container-post {
    position: relative;
    display: block;
    padding: 10px;
    margin: 20px auto;
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 20px;
    box-shadow: 0px 5px 25px 0px rgb(83, 78, 78);
}

.container-post .username {
    padding: 5px 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: white;
    color: var(--myColor);
    font-weight: 700;
    font-size: 16px;
}

.container-post .myPost {
    background-color: var(--myColor);
    color: white;
}
.container-post img{
    width: 100%;
}
.illu {
    width: 100%;
}

.container-post .text {
    margin: 10px auto;
}

.date {
    color: #aaa;
}

.panel-users-container {
    position: relative;
    display: block;
    box-shadow: 0px 5px 25px 0px rgb(83, 78, 78);
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 20px;
    color:#0a0ab3;
}

.panel-users-container h3 {
    margin-top: 20px;
    padding: 5px;
    color: white;
    background-color:#0a0ab3;
    text-align: center;
}
